<h2>Quiz 1 : Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [1]:
# Membuat dataframes dari dictionary
import pandas as pd

df = pd.DataFrame({'merk_sepeda_motor': ["Honda Beat", "Yamaha NMax", "Suzuki Satria F-150"], 'cc': [110, 155, 150], 'tipe_sepeda_motor': ["matic", "matic", "underbone"]})
df

     merk_sepeda_motor   cc tipe_sepeda_motor
0           Honda Beat  110             matic
1          Yamaha NMax  155             matic
2  Suzuki Satria F-150  150         underbone

<h2>Quiz 2 : Membaca data dari file</h2>

Download file bernama diamonds.csv, kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [11]:
# Membaca data dan memasukannya kedalam suatu variabel
import pandas as pd

df_csv = pd.read_csv("image")

 Volume in drive C has no label.
 Volume Serial Number is 4D44-FBC0

 Directory of C:\Users\Ardian Fauzi Tri P\anaconda3\Z

28/04/2020  05:50    <DIR>          .
28/04/2020  05:50    <DIR>          ..
28/04/2020  00:35    <DIR>          .idea
28/04/2020  05:34    <DIR>          .ipynb_checkpoints
27/04/2020  22:59                57 CobaPython.py
27/04/2020  23:47                57 CobaPython2.py
28/04/2020  00:17    <DIR>          dateutil
28/04/2020  05:44                 2 image.png.csv
28/04/2020  00:17    <DIR>          numpy
28/04/2020  05:24             1.938 oziardian@gmail.com.ipynb
28/04/2020  00:13    <DIR>          pandas
28/04/2020  00:17    <DIR>          pytz
28/04/2020  05:50             6.287 Tugas Day 1 Week 2.ipynb
28/04/2020  00:34             5.911 Tugas Day 5.ipynb
28/04/2020  00:34                72 Untitled.ipynb
               7 File(s)         14.324 bytes
               8 Dir(s)  55.732.150.272 bytes free

Expected Result :

![image.png](attachment:image.png)

<h2>Quiz 3 : DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

-> Perbedaan Series dengan List dan Dictionary
    Series: data ditampilkan per kolom dengan satu sumbu
    List & Dictionary: data bisa ditampilkan mendatar maupun menjadi kolom

-> Perbedaan dataframe dan series
    DataFrame adalah suatu objek 2 dimensi, mirip seperti tabel. Series adalah objek 1 dimensi

In [0]:
# code here

<h2>Quiz 4 : Pemeriksaan Data Sederhana</h2>

Di quiz no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari :
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [0]:
# code here

<h2>Quiz 5 : Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

<h2>Quiz 6 : Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [0]:
# code here

# New Section