<h2>Quiz 1 : Penggabungan Data</h2>

- Sebutkan perbedaan antara full outer join, inner join, dan left join

Jawaban :
Full Outer Join menghasilkan gabungan index bari dari setiap data yang di gabung serta menggabungan pula column yang berbeda.
Inner join menggabungkan data antara nilai key/referensi yang beririsan.
Left Outer Join menghasilkan seluruh data dari data yang kiri ditambah data kanan yang memiliki nilai key yang sama dengan data dari kiri. Right Outer Join menghasilkan seluruh data dari data yang kanan ditambah data kiri yang memiliki nilai key yang sama dengan data dari kanan.

<h2>Quiz 2 : Penggabungan Data</h2>

Pada quiz no 2 ini gunakan data 'names1881.csv' dan 'names1981.csv', data ini berisi nama bayi yang lahir pada tahun 1881 atau 1981 di Amerika.

- Baca data tersebut dengan memberikan nama column 'Name', 'Gender', 'Count'.
- Tunjukan jumlah dimensi dari data 'names1881.csv' dan 'names1981.csv'
- Gabungkan kedua data tersebut berdasarkan sumbu baris
- Tunjukan jumlah dimensi dari data setelah di gabungkan.

In [3]:
import pandas as pd
# read data
df1 = pd.read_csv('names1881.csv', names=['Name','Gender','Count'])
df2 = pd.read_csv('names1981.csv', names=['Name','Gender','Count'])

# periksa dimensi dari kedua data
dataframe = df1.shape
dataframe2 = df2.shape
print("Jumlah Dimensi data 'names1881.csv' : ")
print(dataframe)
print("Jumlah Dimensi data 'names1981.csv' : ")
print(dataframe2)

# gabungkan data
df = pd.concat([df1, df2])
print(df)

# periksa dimensi data hasil gabungan
print("Jumlah dimensi data setelah penggabungan : ")
dataframe3 = df.shape
print(dataframe3)

Jumlah Dimensi data 'names1881.csv' :
(1935, 3)
Jumlah Dimensi data 'names1981.csv' :
(19455, 3)
            Name Gender  Count
0           Mary      F   6919
1           Anna      F   2698
2           Emma      F   2034
3      Elizabeth      F   1852
4       Margaret      F   1658
...          ...    ...    ...
19450   Zeferino      M      5
19451    Zerrick      M      5
19452   Zimbabwe      M      5
19453     Zoltan      M      5
19454     Zuriel      M      5

[21390 rows x 3 columns]
Jumlah dimensi data setelah penggabungan :
(21390, 3)

Expected Result : 

Jumlah Dimensi data 'names1881.csv' : 

(1935, 3)

Jumlah Baris data 'names1981.csv' :

(19455, 3)

![alt text](https://drive.google.com/uc?id=1jMCAdLrcJubjufydZBnzdQkYqDS3Klat)

Jumlah dimensi data setelah penggabungan : 

(21390, 3)

<h2>Quiz 3 : Penggabungan Data</h2>

Lakukan jenis penggabungan data full outer join, inner join, left outer join dan right outer join pada kedua data berikut :

In [4]:
import pandas as pd
# read data
df1 = pd.read_csv('names1881.csv', names=['Name','Gender','Count'])
df2 = pd.read_csv('names1981.csv', names=['Name','Gender','Count'])


data1 = {
    'id' : [1, 2, 3, 4],
    'Feature1' : ['a1', 'a2', 'a3', 'a4'],
    'Feature2' : ['b1', 'b2', 'b3', 'b4']
}

data2 = {
    'id' : [3, 4, 5 ,6, 7],
    'Feature3' : ['c1', 'c2', 'c3', 'c4', 'c5']
}


print(df1)
print(df2)

           Name Gender  Count
0          Mary      F   6919
1          Anna      F   2698
2          Emma      F   2034
3     Elizabeth      F   1852
4      Margaret      F   1658
...         ...    ...    ...
1930     Wiliam      M      5
1931     Wilton      M      5
1932       Wing      M      5
1933       Wood      M      5
1934     Wright      M      5

[1935 rows x 3 columns]
           Name Gender  Count
0      Jennifer      F  57032
1       Jessica      F  42519
2        Amanda      F  34370
3         Sarah      F  28162
4       Melissa      F  28003
...         ...    ...    ...
19450  Zeferino      M      5
19451   Zerrick      M      5
19452  Zimbabwe      M      5
19453    Zoltan      M      5
19454    Zuriel      M      5

[19455 rows x 3 columns]

In [7]:
# join data
df_outer_join = pd.merge(df1, df2, on="Name", how='outer')
print(df_outer_join)

df_inner_join = pd.merge(df1, df2, on="Name", how='inner')
print(df_inner_join)

df_left_join = pd.merge(df1, df2, on="Name", how='left')
print(df_left_join)

df_right_join = pd.merge(df1, df2, on="Name", how='right')
print(df_right_join)

           Name Gender_x  Count_x Gender_y  Count_y
0          Mary        F   6919.0        F  11030.0
1          Mary        F   6919.0        M     67.0
2          Mary        M     29.0        F  11030.0
3          Mary        M     29.0        M     67.0
4          Anna        F   2698.0        F   5182.0
...         ...      ...      ...      ...      ...
19913  Zeferino      NaN      NaN        M      5.0
19914   Zerrick      NaN      NaN        M      5.0
19915  Zimbabwe      NaN      NaN        M      5.0
19916    Zoltan      NaN      NaN        M      5.0
19917    Zuriel      NaN      NaN        M      5.0

[19918 rows x 5 columns]
        Name Gender_x  Count_x Gender_y  Count_y
0       Mary        F     6919        F    11030
1       Mary        F     6919        M       67
2       Mary        M       29        F    11030
3       Mary        M       29        M       67
4       Anna        F     2698        F     5182
...      ...      ...      ...      ...      ...
2208   Wells        M        5        M        6
2209  Wiliam        M        5        M       11
2210  Wilton        M        5        M       33
2211    Wing        M        5        M        8
2212  Wright        M        5        M        6

[2213 rows x 5 columns]
        Name Gender_x  Count_x Gender_y  Count_y
0       Mary        F     6919        F  11030.0
1       Mary        F     6919        M     67.0
2       Anna        F     2698        F   5182.0
3       Anna        F     2698        M     24.0
4       Emma        F     2034        F    532.0
...      ...      ...      ...      ...      ...
2510  Wiliam        M        5        M     11.0
2511  Wilton        M        5        M     33.0
2512    Wing        M        5        M      8.0
2513    Wood        M        5      NaN      NaN
2514  Wright        M        5        M      6.0

[2515 rows x 5 columns]
           Name Gender_x  Count_x Gender_y  Count_y
0          Mary        F   6919.0        F    11030
1          Mary        M     29.0        F    11030
2          Mary        F   6919.0        M       67
3          Mary        M     29.0        M       67
4          Anna        F   2698.0        F     5182
...         ...      ...      ...      ...      ...
19611  Zeferino      NaN      NaN        M        5
19612   Zerrick      NaN      NaN        M        5
19613  Zimbabwe      NaN      NaN        M        5
19614    Zoltan      NaN      NaN        M        5
19615    Zuriel      NaN      NaN        M        5

[19616 rows x 5 columns]

Expected Result :

![alt text](https://drive.google.com/uc?id=1kUpkzWh3Y-X_1H1QXHiccdHf4YjqXsDu)

![alt text](https://drive.google.com/uc?id=1ojoAC2oX9P3ZHl0lS3RXipd7gShLOmmC)

![alt text](https://drive.google.com/uc?id=12jDnQzIosn6dizVwl2nPMX1IhhyEZ4FA)

![alt text](https://drive.google.com/uc?id=11znqscNsVZ-cHY-PPgoHEBDWyc6XRtAL)

<h2>Quiz 4 : Penggabungan Data berbeda label column Key</h2>

Lakukan jenis penggabungan inner join untuk 2 data yang memiliki nama column key yang berbeda ini :

In [41]:
import pandas as pd

data1 = {
    'key_data1' : [1, 2, 3, 4],
    'Feature1' : ['a1', 'a2', 'a3', 'a4'],
    'Feature2' : ['b1', 'b2', 'b3', 'b4']
}

data2 = {
    'key_data2' : [3, 4, 5 ,6, 7],
    'Feature3' : ['c1', 'c2', 'c3', 'c4', 'c5']
}

df1= pd.DataFrame(data1)
df2= pd.DataFrame(data2)

print(df1)
print(df2)

   key_data1 Feature1 Feature2
0          1       a1       b1
1          2       a2       b2
2          3       a3       b3
3          4       a4       b4
   key_data2 Feature3
0          3       c1
1          4       c2
2          5       c3
3          6       c4
4          7       c5

In [47]:
# Gabungkan kedua data tersebut
df_gabung = pd.merge(df1, df2, left_on='key_data1', right_on='key_data2', how='inner')

df_gabung

   key_data1 Feature1 Feature2  key_data2 Feature3
0          3       a3       b3          3       c1
1          4       a4       b4          4       c2

Expected Result :

![alt text](https://drive.google.com/uc?id=1uBiVOPnqns4al88FDc0ENIeTzIxP4wxH)